.NavigationBar {
    width: 100%;
    background: black;
    opacity: 0.75;
    color: white;
    /* position: fixed;
    top: 0; */
    position: sticky;
    padding: 1px;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
}

.NavigationBar a {
    color: white;
}